DB_DSN=mysql:host=localhost;dbname=auskunftsbegehren_at
DB_USERNAME=auskunftsbegehren_at
DB_PASSWORD=auskunftsbegehren_at

EMAIL_SERVER=localhost
EMAIL_USERNAME=auskunftsbegehren_at
EMAIL_PASSWORD=auskunftsbegehren_at
EMAIL_FROM=office@auskunftsbegehren.at

SALT=EFFr3rty3YkjHZ913fuQuz12YRNmpBQInykjEqBUZ21KAnMbklCc9qfe0LaUTO0a